*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 3rem;
}


.logo{
    display: inline;
    text-decoration: none;
    
}

.logo >img{
    vertical-align: middle;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.logo span{
    font-weight: bolder;
    font-size: 20px;
    color: black;
    text-decoration: none;

}

.nav-items{
    list-style: none;
    display: inline;
}

nav{
    padding: 1rem 0;
}

.nav-item{
    display: inline;
    
}

.nav-item a {
    text-decoration: none;
    color: #817e84;
    padding-left: 1.5rem;

}

.nav-item a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid;
}

.main-container{
    display: grid;
    grid-template-columns: (auto-fit,2fr);
    gap: 20px;
}


.main-left-button{
    padding:1rem 0;
    width: 100%;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.main-left-button:hover{
    background-color: royalblue;
    color: white;
}

.main-left-button a {
    text-decoration: none;
    color: white;
}

.main-left p{
    margin: 1rem 0;
    font-size: 20px;
    color: #6d7481;
}

.title{
    font-size: 3rem;
    font-weight:900;
    line-height: 1;

    margin-bottom: 4rem;
}

.title a {
    text-decoration: none;
}

.main-right{
    margin-right: -3rem;
}



.categories-container{
    display: grid;
    gap: 1rem;
    margin-top: 3rem;
    grid-template-columns: repeat(1, auto);
}

.categories-container div{
    border-radius: 20px;
    height: 250px;
}

.categories-container div:hover{
  transform: scale(1.10);
}


.product-container{
    display: grid;
    grid-template-columns: repeat(1,fr);
    gap:0.5rem;
    margin-top: 4rem;
    border-radius: 5px;
}
.product-container div{
    border-radius: 5px;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(234, 232, 232);
    padding: 0 1rem 1rem 1rem;
}

.product-container div:hover{
    transform: scale(1.10);

}

.product-container div > img {
    height: 250px;
    border-radius: 5px;
}

.category{
    position: relative;
}

.categories-container div > div {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 100%);
}

.category-item-text{
    background-color: white;
    color: black;
    padding: 1rem;
}

footer{
    background-color:#111827;
     color:#6897ac;
    text-align: center;
    padding: 3rem 0;
    margin: 0 -3rem;
    margin-top: 5rem;
}

.footer-container{
    display: grid;
    grid-template-columns: auto;
}

.footer-items{
    list-style: none;
    display: inline;
}

.footer-item{
    display: inline;
    padding-left: 2rem;
    font-weight: bolder;
}

.footer-container >img{
    display: block;
    justify-content: center;
}

@media screen and (min-width:800px) {
    .categories-container, .product-container {
        grid-template-columns: repeat(4,auto);
    }
}

@media screen and (min-width:800px) {
   .single-product-container{
       grid-template-columns: auto auto;
   }
}

@media screen and (min-width:800px){
    .main-container{
        grid-template-columns:2fr 3fr;
    }
}



.product-description{
    list-style: none;
    margin: 1rem 0;
}
.product-title a {
    text-decoration: none;
    color: black;
}

.product-discount-text{
    color: red;
    text-decoration: line-through;
}

.product-price{
    font-weight: 900;
    font-size: 20px;
    margin-top: 10px;
    

}

.single-product-container {
    display: grid;
    grid-template-columns:(auto-fit,auto);
    border: 1px solid rgb(238, 238, 238);
    margin-top: 1rem;
}

.left-main img {
    /* border: 1px solid rgb(247, 243, 243); */
    margin-top: 1rem;
    margin-left: 1rem;
}
 
.products{
    background-color:#f3f4f6;
}

.right-main{
    margin-left: 2rem;
    margin-top: 1rem;
}

.right-main p{
    margin: 0.7rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

.right-main span{
    color: #767d89;
    font-size: 1.2rem;
}

.right-main ul li{
    list-style: none;
    padding: 1rem;
    font-weight: bolder;
    font-size: 1rem;
    color: #767d89;
}

.single-button{
    padding:1rem 0;
    width: 30%;
    border-radius: 5px;
    background-color: rgb(148, 16, 148);
    color: white;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.single-button span{
    align-items: center;
    padding-left: 10px;
}

